.TextContainer {
   float: right;
    width: 70%;
    height: 37vw;
    color: white;
    font-family: techno;
}
.TextContainerLeft {
    float: left;
    width: 49%;
    height: 37vw;
    text-align: center;
}
.TextContainerRight {
   
    float: right;
    width: 49%;
    height: 37vw;
    text-align: center;
  
}

.text {
    font-family: text;
    font-size: 1vw;
}
.TextTitle {
    font-size: 4vw;
}
.playlist {
    width: 25vw;
    height: 25vw;
    margin-top: 5vw;
}

.gap {
    width: 40%;
    height: 2vw;
}
